@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');

* {
    box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;
}

body {
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(75,1,95,1) 100%); 
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    font-family: 'Merriweather', serif;
}

.main-heading {
    background: rgb(211,211,211);
    display: flex;
    align-items: flex-end;
}

.ebc-logo {
    max-width: 300px;
    flex: 1;
    margin-right: auto;
}

.main-nav {
    display: flex;
    flex: 1;
    margin: 0;
}

.main-nav li {
    list-style-type: none;
    width: auto;
}

.main-nav li a {
    text-decoration: none;
    color: #4b015f;
    display: block;
    text-align: center;
    font-size: 18px;
    padding-right: 20px;
    padding-left: 20px;
}

/* Main Body */
.main-banner {
    position: relative;
    text-align: center;
    color: #4b015f;
}
.main-banner-image {
    width:100%;
}

.main-banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(211,211,211, 0.7);
    padding: 20px;
}

.directions{
    color: white;
    background:rgba(75,1,95,1);
    padding: 10px;
}

/* Home Ministries Section */
.home-ministries h2 {
    margin-top: 100px;
    text-align: center;
}

.home-links{
    display: flex;
}

.home-links div {
    margin-top: 20px;
    flex: 1;
    position: relative;
    text-align: center;
    color: #4b015f;
}

.home-links div h3 {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -25%);
    background: rgb(211,211,211, 0.8);
    padding: 20px;
    font-size: 25px;
    text-decoration: ;
}

.home-links img {
    width: 95%;
    margin-right: auto;
    margin: 0;
}

.main-footer {
    background: rgb(211,211,211);
    margin-top: 50px;
    padding-top: 25px;
}

.footer-row-one {

    display: flex;
    align-items: flex-start;
}

.footer-row-one img{
    max-width: 300px;
    margin-right: auto;
    display: inline;
}

.m.footer-row-one p{
    margin-right: auto;
    display:inline;
    text-align: center;
    margin-right: 20px;
}