@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');

* {
    box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;
}

body {
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(75,1,95,1) 100%); 
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    font-family: 'Merriweather', serif;
}

.main-heading {
    background: rgb(211,211,211);
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.ebc-logo {
    max-width: 300px;
    flex: 1;
}

.main-nav {
    display: flex;
    flex: 1;
}

.main-nav li {
    list-style-type: none;
    width: auto;
}

.main-nav li a {
    text-decoration: none;
    display: block;
    color: #4b015f;
    text-align: center;
    font-size: 18px;
    padding-right: 20px;
    padding-left: 20px;
}

/* Main Body */
.main-banner {
    position: relative;
    text-align: center;
    color: #4b015f;
    margin-bottom: 40px;
}
.main-banner-image {
    width:100%;
}

.main-banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(211,211,211, 0.7);
    padding: 20px;
}

.directions{
    color: white;
    background:rgba(75,1,95,1);
    padding: 10px;
}

/* Home Ministries Section */
.site-banner {
    text-align: center;
    background-color:rgb(211,211,211);
    padding: 30px;
    margin-top: 0px;
    margin-bottom: 20px;
    color:rgba(75,1,95,1);
}

.home-links{
    display: flex;
    margin-bottom: 40px;
}

.home-links div {
    flex: 1;
    position: relative;
    text-align: center;
    color: #4b015f;
}

.home-links div h3 {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -25%);
    background: rgb(211,211,211, 0.8);
    padding: 20px;
    font-size: 25px;
}

.home-links img {
    width: 99%;
    margin-right: auto;
    margin: 0;
    padding: 0;
}

.main-footer {
    background: rgb(211,211,211);
    margin-top: 20px;
    padding-top: 20px;
}

.footer-row-one {

    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.footer-row-one img{
    max-width: 300px;
    display: inline;
}

.footer-row-one p{
    display:inline;
    text-align: center;
    margin-right: 20px;
}

/* About Us Page */
.about-banner img {
    width: 100%;
    margin-bottom: 0px;
}

.about-top {
    display: flex;
    justify-content: space-between;
}

.about-top div {
    flex-basis: 400px;
    background: rgb(211,211,211, 0.5);
    margin: 80px;
    flex-basis: 600px;
    margin-top: 10px;
}

.service-info-div {
    padding: 20px;
    text-align: center;
}

.about-beliefs {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.about-beliefs div {
    flex: 1;
    background-color:rgb(211,211,211, 0.7);
    padding: 15px;
    text-align: center;
}

.bottom-div {
    margin-bottom: 50px;
}

.all-staff-div {
    display: flex;
    gap:10px;
}

.staff-div {
    display:flex;
    flex-direction: column;
    flex:1;
    background-color:rgb(211,211,211, 0.5);
    padding: 20px;
    align-items: center;
}

.staff-div img {
    width: 50%;
}

#erica {
    padding-top: 210px;
}